nav {
    background-color: teal;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.cartMenu.btn-primary {
    background-color: transparent;
    border-color: transparent;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 745px;
    }
}